$nav-background-color: rgb(215, 215, 215);
$site-background-color: rgb(240, 240, 240);
$site-background-color--transparent: rgba(240, 240, 240, 0.6);
$link-main-color: green;
$link-main-color--hover: darkgreen;

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.sub-container {
  flex: 1 1 0;
}

.page-img {
  align-self: flex-start;
}

a {
  text-decoration: none;
  color: $link-main-color;
  text-align: center;
  position: relative;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;

  &:hover {
    color: $link-main-color--hover;
  }
}

