$nav-background-color: rgb(215, 215, 215);
$nav-border-color--light: rgb(190, 190, 190);
$nav-border-color: rgb(140, 140, 140);
$footer-border-color: $nav-border-color;
$footer-background-color: $nav-background-color;
$site-background-color: rgb(240, 240, 240);
$site-background-color--transparent: rgba(240, 240, 240, 0.6);
$link-main-color: green;
$link-main-color--hover: darkgreen;
$transparent-background-color: rgba(190, 190, 190, 0.3);

.container {
  display: flex;
  flex: 100%;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.sub-container {
  padding-left: 10px;
  flex: 1 1 0;
}

.page-img {
  align-self: flex-start;
}

a {
  text-decoration: none;
  color: $link-main-color;
  text-align: center;
  position: relative;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;

  &:hover {
    color: $link-main-color--hover;
  }
}

